@page "/todo"
<h3>Todo (@todos.Count(todo => !todo.IsDone))</h3>
<!-- The line above will show the number of items that are not completed on the todo list -->
<ul>
   @foreach (var todo in todos)
   {
      <li>
         <input type="checkbox" @bind="todo.IsDone"/>
         <input @bind="todo.Title"/>
      </li>
   }
</ul>

<input placeholder="What todo..." @bind="newTodo"/>
<button @onclick="AddTodo">Add todo</button>

@code {
    private string newTodo;
    private IList<TodoItem> todos = new List<TodoItem>();
    private void AddTodo()
    {
       if (!string.IsNullOrWhiteSpace(newTodo))   //if the input field is NOT empty or DOESN'T have whitespace
       {
          todos.Add(new TodoItem { Title = newTodo });  //Add the new todo to the TodoItem list
          newTodo = string.Empty;  //After submitting the todo item, set the field to empty string.
       }
    }
}
